<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
<h1>Add New Employee</h1>
<form method="post" th:action="@{/addEmp}" th:object="${emp}">
    <p>ID: <input th:field="*{id}">
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" th:errorclass="error"></span>
    </p>
    <p>First Name: <input th:field="*{firstName}">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"></span>
    </p>
    <p>Last Name: <input th:field="*{lastName}"></p>
    <p>Address</p>
    <p>Street Name: <input th:field="*{address.street}">
        <span th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" th:errorclass="error"></span>
    </p>
    <p>Zip Code: <input th:field="*{address.zipcode}">
        <span th:if="${#fields.hasErrors('address.zipcode')}" th:errors="*{address.zipcode}" th:errorclass="error"></span>
    </p>
    <input type="submit" value="Add">

</form>

</body>
</html>