<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/hierarchicalLayout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Hierarchical Layout Page</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">


  <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


  <link href="../static/css/cover.css" th:href="@{/css/cover.css}" rel="stylesheet">
  <style type="text/css">@font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }</style></head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto" th:replace="fragments/header :: header">
    <div class="inner">
      <h3 class="masthead-brand">Static Header</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="https://getbootstrap.com/docs/4.0/examples/cover/#">Tab1</a>
        <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/cover/#">Tab2</a>
        <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/cover/#">Tab3</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover" layout:fragment="main-content">
    <h1>This main content will be decorated by the actual page returned in the controller methods.</h1>

  </main>

  <footer class="mastfoot mt-auto" th:replace="fragments/footer :: footer">
    <div class="inner">
      <p>Static template for the page<a href="https://getbootstrap.com/">Link1</a>, by <a href="https://instagram.com/alwayzvijay">Link2</a>.</p>
    </div>
  </footer>
</div>


</body></html>
